{name, "jsonerl"}.
{description, "Erlang port driver for interacting with syslog via syslog(3)"}.
{homepage, "https://github.com/lambder/jsonerl"}.
{url, {git, "https://github.com/nox/jsonerl.git", {branch, "otp-hier"}}}.
{license, "BSD2"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
